.container {
  display: block;
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
  background-color: #f3f4f0;
  padding: 0;
  width: 100%;
  height: 100%;
}
button {
  font-family: "Montserrat", sans-serif;
}
html,
body {
  height: 100%;
  background-color: #f3f4f0;
}

/*******************************************
*       Remove WordPress Template          *
*******************************************/
.hopeui_style-breadcrumb {
  display: none !important;
}

.container-fluid {
  display: none !important;
}

.hopeui_style-footer {
  display: none !important;
}
#header {
  display: none !important;
}
#footer {
  display: none !important;
}

/*******************************************
*                   Navbar                 *
*******************************************/

.navbar {
  /* position: absolute; */
  top: 0;
  height: fit-content;
  width: 100%;
  z-index: 1;
  display: flex;
  white-space: nowrap;
  padding-top: 15px;
  padding-bottom: 15px;
  align-items: center;
}
.navbar .logo {
  width: fit-content;
  height: fit-content;
  margin-left: 20px;
}

.logo img {
  width: 90px;
}

.navigate-wrapper,
.navigate-wrapper a {
  width: fit-content;
  height: fit-content;
  margin-right: 15px;
  margin-left: 15px;
}

.navigate-wrapper {
  position: absolute;
  right: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: right;
}

.navigate-wrapper a {
  color: rgba(0, 0, 0, 0.6);
  text-decoration: none;
  font-weight: 400;
}

.navigate-link.active a {
  color: #000000;
  text-decoration: none;
  font-weight: 500;
}
.navigate-link:hover {
  transition: all 0.3s ease;
  transform: scale(1.2);
}
.navigate-link a:hover {
  color: #000000;
}

.break-line {
  height: 1px;
  width: 100%;
  border-width: 0;
  color: black;
  background-color: rgba(0, 0, 0, 0.5);
  margin-left: 0;
}

.product-wrapper {
  display: flex;
  flex-wrap: wrap;
}

.categories {
  background-color: #ffffff;
  padding: 5px 20px 40px 20px;
  width: fit-content;
  height: fit-content;
  border-radius: 10px;
  text-align: center;
  margin: 15px 100px 15px 90px;
  max-width: 300px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: left;
  min-width: 165px;
}
.categories p {
  font-weight: 700;
}
.categories button {
  border: 0;
  padding: 0;
  background-color: transparent;
  font-size: 14px;
}
@media only screen and (max-width: 800px) {
  .product-list {
    justify-content: center;
  }
}
.product-list {
  display: flex;
  flex-wrap: wrap;
  max-width: 1000px;
}
.product-list p {
  font-size: 17px;
  font-weight: 600;
  width: 100%;
}
.product-list ul {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  max-width: 1300px;
}
.product-list li {
  white-space: nowrap;
}
.product-card {
  background-color: #ffffff;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 10px;
  text-align: center;
  padding-bottom: 15px;
  width: 190px;
  height: 225px;
  margin: 10px 60px 10px 0px;
}
.product-card button {
  border: 0;
  border-radius: 20px;
  font-weight: 500;
  padding: 10px 20px;
  background-color: #111111;
  color: #ffffff;
}

.product-card button:hover {
  background-color: #363537;
}

.product-card img {
  width: 190px;
  height: 126px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

/*******************************************
*                  Footer                  *
*******************************************/

.footer-custom {
  background-color: #111111;
  color: #ffffff;
  height: fit-content;
}
.grid-container {
  display: grid;
  grid-template-columns: 30% 70%;
}
.grid-item-5 {
  grid-column-start: 1;
  grid-column-end: 3;
}
.grid-item-2-7 {
  grid-column-start: 1;
  grid-column-end: 4;
}
.grid-container-4 {
  display: grid;
  grid-template-columns: auto auto auto;
}

.grid-item-1 {
  width: fit-content;
}

.grid-item-1 .logo {
  width: fit-content;
  margin: 15px 0px 0px 30px;
}
.grid-item-1 .lang {
  margin: 30px 0px 0px 70px;
}
.lang .vn a,
.lang .en a {
  text-decoration: none;
  color: white;
}

.lang .vn img,
.lang .en img {
  width: 25px;
  object-fit: contain;
  margin-right: 5px;
}
.lang .vn a,
.lang .en a {
  display: flex;
}

.lang .vn a p,
.lang .en a p {
  display: flex;
  margin: 0;
  align-items: center;
}

.grid-container-2 {
  display: grid;
  grid-template-columns: auto auto auto;
  margin-right: 30px;
}
.grid-item-2 {
  margin-top: 15px;
}
.contact-title {
  font-weight: 600;
}
.contact-label {
  font-size: 12px;
  font-weight: 600;
}
.grid-item-2-1,
.grid-item-2-2,
.grid-item-2-3,
.grid-item-2-4,
.grid-item-2-5,
.grid-item-2-6,
.grid-item-2-7 {
  padding-right: 25px;
  margin-top: 15px;
}

.grid-container-2 input {
  background-color: transparent;
  border-color: #999999;
  width: 100%;
  border-width: 2px;
  border-style: solid;
  border-radius: 5px;
  font-size: 15px;
  color: #ffffff;
  font-family: "Montserrat", sans-serif;
  padding: 5px;
}

.grid-container-2 input:-webkit-autofill,
input:-webkit-autofill:focus {
  transition: background-color 0s 600000s, color 0s 600000s !important;
}

.grid-item-2-7 {
  right: 0;
  width: 150px;
  display: inline;
  right: 0;
  padding-bottom: 20px;
}
.grid-item-2-7 input {
  border: 0;
  border-radius: 20px;
  font-size: 15px;
  font-weight: 500;
  padding: 10px;
  padding-left: 15px;
  padding-right: 15px;
  background-color: #fff;
  color: #000000;
  font-size: 15px;
  font-weight: 500;
}
.grid-item-2-7 input:hover {
  color: #ffffff;
  background-color: #000000;
}
.grid-item-3 {
  margin-top: 20px;
  margin-left: 40px;
}
.info-title {
  font-weight: 500;
}
.info-content {
  font-size: 12px;
  font-weight: 400;
  opacity: 70%;
  line-height: 1.4;
}

.grid-4-header {
  font-weight: 600;
}
.grid-4-list {
  opacity: 70%;
}
.grid-4-list a {
  text-decoration: none;
  color: #ffffff;
  font-size: 12px;
}
.grid-container-4 {
  display: grid;
  grid-template-columns: auto auto auto;
}
.grid-item-4 {
  margin: 20px 0px 0px 80px;
}
.grid-item-5 {
  position: relative;
  display: flex;
  margin: 25px 25px 20px 25px;
}
.copyright {
  font-size: 12px;
  opacity: 70%;
  width: fit-content;
}
.powered {
  position: absolute;
  right: 0;
  font-size: 12px;
  opacity: 70%;
  width: fit-content;
}
