html,
body {
  height: 100%;
  background-color: #f3f4f0;
  min-width: 555px;
}
.container {
  display: block;
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
  background-color: #f3f4f0;
  min-width: 555px;
}
button {
  font-family: "Montserrat", sans-serif;
}
/*******************************************
*       Remove WordPress Template          *
*******************************************/
.hopeui_style-breadcrumb {
  display: none !important;
}

.container-fluid {
  display: none !important;
}

.hopeui_style-footer {
  display: none !important;
}
#header {
  display: none !important;
}
#footer {
  display: none !important;
}
header {
  display: none !important;
}
footer {
  display: none !important;
}
.ast-container {
  padding: 0;
  margin: 0;
  max-width: none;
}
/*******************************************
*                   Navbar                 *
*******************************************/
.page-header {
  min-height: 480px;
  min-width: 555px;
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  /* align-items: center; */
  flex-wrap: wrap;
}

.navbar {
  height: fit-content;
  width: 100%;
  z-index: 1;
  display: flex;
  white-space: nowrap;
  padding-top: 15px;
  padding-bottom: 15px;
  align-items: center;
}
.navbar .logo {
  width: fit-content;
  height: fit-content;
  margin-left: 20px;
  display: flex;
  z-index: 1;
}

.logo img {
  width: 6vw;
}

.navigate-wrapper,
.navigate-wrapper a {
  width: fit-content;
  height: fit-content;
  margin-right: 15px;
  margin-left: 15px;
}

.navigate-wrapper {
  position: absolute;
  right: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: right;
}

.navigate-wrapper a {
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
  font-weight: 400;
}

.navigate-link.active a {
  color: #ffffff;
  text-decoration: none;
  font-weight: 500;
}
.navigate-link:hover {
  transition: all 0.3s ease;
  transform: scale(1.2);
}
.navigate-link a:hover {
  color: #ffffff;
}

.background {
  position: absolute;
  display: flex;
  z-index: 0;
  background-color: #000000;
  max-height: 534px;
}
.background img {
  width: 100%;
  opacity: 30%;
  object-fit: cover;
}

.page-title {
  /* position: absolute; */
  transform: translateY(-30px);

  background-color: transparent;
  width: 100%;
  height: 100%;
  display: flex;
  z-index: 1;
  color: white;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 65px;
  font-weight: 700;
}

.project-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 50px;
}
.content {
  margin: 15px;
}
.content img {
  width: 555px;
  max-height: 293px;
  border-radius: 10px;
}
.content iframe {
  border-radius: 10px;
}
.content-title {
  font-weight: 700;
  margin: 20px 0px 20px 0px;
}
.content-description {
  font-size: 14px;
}

.contact-suggestion {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
  margin-bottom: 50px;
}
.contact-suggestion .suggestion-title {
  font-size: 20px;
  font-weight: 700;
  margin-right: 40px;
}
.contact-suggestion button {
  border: 0;
  border-radius: 20px;
  font-size: 15px;
  font-weight: 500;
  padding: 10px;
  padding-left: 25px;
  padding-right: 25px;
  background-color: #000000;
  color: #ffffff;
  font-weight: 500;
}

.contact-suggestion button:hover {
  background-color: #666;
  color: #ffffff;
}

/*******************************************
*                  Footer                  *
*******************************************/

.footer-custom {
  background-color: #111111;
  color: #ffffff;
  height: fit-content;
}
.grid-container {
  display: grid;
  grid-template-columns: 30% 70%;
}
.grid-item-5 {
  grid-column-start: 1;
  grid-column-end: 3;
}
.grid-item-2-7 {
  grid-column-start: 1;
  grid-column-end: 4;
}
.grid-container-4 {
  display: grid;
  grid-template-columns: auto auto auto;
}

.grid-item-1 {
  width: fit-content;
}

.grid-item-1 .logo {
  width: fit-content;
  margin: 15px 0px 0px 30px;
}
.grid-item-1 .lang {
  margin: 30px 0px 0px 70px;
}
.lang .vn a,
.lang .en a {
  text-decoration: none;
  color: white;
}

.lang .vn img,
.lang .en img {
  width: 25px;
  object-fit: contain;
  margin-right: 5px;
}
.lang .vn a,
.lang .en a {
  display: flex;
}

.lang .vn a p,
.lang .en a p {
  display: flex;
  margin: 0;
  align-items: center;
}

.grid-container-2 {
  display: grid;
  grid-template-columns: auto auto auto;
  margin-right: 30px;
}
.grid-item-2 {
  margin-top: 15px;
}
.contact-title {
  font-weight: 600;
}
.contact-label {
  font-size: 12px;
  font-weight: 600;
  display: flex;
}
.grid-item-2-1,
.grid-item-2-2,
.grid-item-2-3,
.grid-item-2-4,
.grid-item-2-5,
.grid-item-2-6,
.grid-item-2-7 {
  padding-right: 25px;
  margin-top: 15px;
}

.grid-container-2 input {
  background-color: transparent;
  border-color: #999999;
  width: 100%;
  border-width: 2px;
  border-style: solid;
  border-radius: 5px;
  font-size: 15px;
  color: #ffffff;
  font-family: "Montserrat", sans-serif;
  padding: 5px;
}

.grid-container-2 input:-webkit-autofill,
input:-webkit-autofill:focus {
  transition: background-color 0s 600000s, color 0s 600000s !important;
}

.grid-item-2-7 {
  right: 0;
  width: 150px;
  display: inline;
  right: 0;
  padding-bottom: 20px;
}
.grid-item-2-7 input {
  border: 0;
  border-radius: 20px;
  font-size: 15px;
  font-weight: 500;
  padding: 10px;
  padding-left: 15px;
  padding-right: 15px;
  background-color: #fff;
  color: #000000;
  font-size: 15px;
  font-weight: 500;
}
.grid-item-2-7 input:hover {
  color: #ffffff;
  background-color: #000000;
}
.grid-item-3 {
  margin-top: 20px;
  margin-left: 40px;
}
.info-title {
  font-weight: 600;
}
.info-content {
  font-size: 12px;
  font-weight: 400;
  opacity: 70%;
  line-height: 1.4;
}

.grid-4-header {
  font-weight: 600;
}
.grid-4-list {
  opacity: 70%;
}
.grid-4-list a {
  text-decoration: none;
  color: #ffffff;
  font-size: 12px;
}
.grid-container-4 {
  display: grid;
  grid-template-columns: auto auto auto;
}
.grid-item-4 {
  margin: 20px 0px 0px 80px;
}
.grid-item-5 {
  position: relative;
  display: flex;
  margin: 25px 25px 20px 25px;
}
.copyright {
  font-size: 12px;
  opacity: 70%;
  width: fit-content;
}
.powered {
  position: absolute;
  right: 0;
  font-size: 12px;
  opacity: 70%;
  width: fit-content;
}

@media only screen and (min-width: 600px) {
  .contact-title {
    font-size: 1.4vw;
  }
  .contact-label {
    font-size: 1vw;
  }
  .lang {
    font-size: 1vw;
  }
  .info-title {
    font-size: 1.5vw;
  }
  .info-content {
    font-size: 1vw;
  }
  .grid-4-header {
    font-size: 1.5vw;
  }
  .grid-4-list {
    font-size: 1.2vw;
  }
  .grid-4-list a {
    font-size: 1vw;
    margin: 0;
  }
  .copyright,
  .powered {
    font-size: 1vw;
  }
}

/*******************************************
*                Responsive                *
*******************************************/
@media only screen and (max-width: 600px) {
  .navbar {
    justify-content: left;
  }
  .navbar .logo img {
    width: 12vw;
  }
  .navigate-wrapper {
    width: 80%;
    position: relative;
  }
  .navigate-link {
    margin-bottom: 5px;
  }
  .contact-suggestion {
    flex-wrap: wrap;
  }
  .suggestion-title {
    width: 100%;
    text-align: center;
    margin-bottom: 15px;
    margin-right: 0 !important;
  }
  /*Footer*/
  .footer-custom {
    height: fit-content;
    overflow: scroll;
  }
  .footer-wrapper {
    display: flex;
  }
  .grid-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    overflow: hidden;
  }
  .grid-item-1 .lang,
  .grid-item-1 .logo {
    margin: 5px 0px;
  }
  .grid-item-1 .logo {
    width: 100%;
    text-align: center;
  }
  .grid-item-1 .logo img {
    width: 15vw;
  }
  .grid-item-1 .lang .vn a,
  .grid-item-1 .lang .en a {
    justify-content: center;
  }
  .grid-container-2 {
    margin: 0px 5px;
  }
  .grid-container-2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .grid-item-2 .contact-title {
    text-align: center;
  }
  .grid-item-3 {
    text-align: center;
  }
  .grid-item-2-1,
  .grid-item-2-2,
  .grid-item-2-3,
  .grid-item-2-4,
  .grid-item-2-5,
  .grid-item-2-6 {
    padding: 0 10vw;
    width: 100%;
  }
  .grid-item-2-7 {
    padding: 0 20vw;
    margin-bottom: 7vw;
    width: 100%;
  }
  .grid-item-2-8 .popup {
    justify-content: center;
    margin-bottom: 20px;
  }
  .contact-title {
    margin: 5px;
  }
  .grid-item-3 {
    margin: 0;
    width: 100%;
  }
  .grid-item-4 {
    margin: 5px 0px;
    width: 100%;
  }
  .grid-container-4 {
    display: inline;
    flex-wrap: wrap;
    text-align: center;
  }
  .grid-item-4-1,
  .grid-item-4-4,
  .grid-item-4-3 {
    margin: 10px 0px;
  }
  .grid-item-5 {
    display: inline;
    text-align: center;
  }
  .grid-item-5 .copyright {
    width: 100%;
  }

  .grid-item-5 .powered {
    width: 100%;
    padding-bottom: 10px;
  }
  .contact-label {
    text-align: left;
  }
}

.required-label {
  color: #ff0000;
  font-size: 1vw;
  font-weight: 700;
  width: fit-content;
  height: fit-content;
}
/*******************************************
*            Notification Pop-up           *
*******************************************/
/* Popup container */
.popup {
  visibility: hidden;
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: left;
  align-items: center;
}
.popup.show {
  visibility: visible;
  border-color: #000;
}
/* The actual popup (appears on top) */
.popup .popuptext {
  visibility: hidden;
  width: 325px;
  background-color: #ffffff;
  text-align: center;
  border-radius: 6px;
  padding: 8px 0;
  z-index: 1;
}

/* Toggle this class when clicking on the popup container (hide and show the popup) */
.popup .show {
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s;
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.popup .popuptext.show.success .title::before {
  content: "Success";
  color: #32ba7c;
  font-size: 35px;
  margin: 10px 0px;
}
.popup .popuptext.show.success .message::before {
  content: "Thông tin liên lạc của bạn đã được gửi đi thành công";
  color: #000;
}
.popup .popuptext.show.success button {
  margin: 10px 0px;
  border: 0;
  width: 50%;
  padding: 10px 0px;
  font-weight: 600;
  background-color: #32ba7c;
  color: #ffffff;
  border-radius: 20px;
}
.popup .popuptext.show.success button:hover {
  background-color: #1d6d49;
}
.popup .popuptext.show.failed .title::before {
  content: "Oops!";
  color: #e4402b;
  font-size: 35px;
  margin: 10px 0px;
}
.message {
  margin: 10px 0px;
}
.popup .popuptext.show.failed .message::before {
  content: "Thông tin liên lạc của bạn chưa thể gửi đi";
  color: #000;
}
.popup .popuptext.show.failed button {
  margin: 10px 0px;
  border: 0;
  width: 50%;
  padding: 10px 0px;
  font-weight: 600;
  background-color: #e4402b;
  color: #ffffff;
  border-radius: 20px;
}
.popup .popuptext.show.failed button:hover {
  background-color: #972a1c;
}
