/*--------------------------------------------------------------
# Sidebar
--------------------------------------------------------------*/

.search-form {
	position: relative;
}

.search-form label {
	display: none;
}

.search-form .search-submit .screen-reader-text { 
	display: none;
}
.search-form input {
	height: 2.625em;
	padding-right: 3em;
	padding-left: 1em;
	background: var(--color-theme-white);
	border: .063em solid var(--border-color-light);
	border-radius: var(--box-border-radius);
	font-size: var(--font-size-body);
}

.search-form .search-submit {
	position: absolute;
	right: 0;
	top: 0;
	height: 2.625em;
	width: 2.625em;
	color: var(--global-font-color);
	cursor: pointer;
	font-size: var(--font-size-body);
	border: none;
	transition: all 0.3s ease-in-out;
	-webkit-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	border-radius: 0 0.188em 0.188em 0;
}

.search-form .search-submit .screen-reader-text {
	display: none;
}

/*SideBar - Recent Comments*/
.hopeui_style-widget-menu .hopeui_style-post li a {
	padding-left: 0;
}

.widget.widget_recent_comments .recentcomments {
	color: var(--color-theme-primary);
}

.widget.widget_recent_comments #recentcomments li.recentcomments a {
	color: var(--global-font-color);
	padding-left: 0;
}

.widget.widget_recent_comments #recentcomments li.recentcomments span a,
.widget.widget_recent_comments #recentcomments--1 li.recentcomments span a {
	color: var(--global-font-title);
}

.hopeui_style-widget-menu .hopeui_style-post li a::before {
	display: none;
}

.widget.widget_recent_comments #recentcomments li.recentcomments a::before,
.widget.widget_recent_comments #recentcomments--1 li.recentcomments a::before {
	display: none;
}

.widget.widget_recent_comments #recentcomments li.recentcomments a:hover,
.widget.widget_recent_comments #recentcomments--1 li.recentcomments a:hover {
	color: var(--color-theme-primary);
	text-decoration: underline !important;
	padding-left: 0;
}

/* SideBar Calendar */
.widget_calendar table caption {
	caption-side: inherit;
	color: var(--color-theme-secondary);
	text-transform: uppercase;
}

.wp-block-calendar table caption {
	caption-side: inherit;
	text-align: center;
	color: var(--color-theme-white);
	background: var(--color-theme-primary);
	text-transform: uppercase;
}

.calendar_wrap .wp-calendar-table caption {
	text-transform: uppercase;
	background: var(--color-theme-primary);
	color: var(--color-theme-white);
	caption-side: inherit;
	text-align: center;
}

.widget_calendar table#wp-calendar {
	width: 100%;
	text-align: center;
	margin-bottom: 0;
	margin-top: 0;
}


.widget_calendar .calendar_wrap td#today {
	background: var(--color-theme-primary);
	color: var(--color-theme-white);
}

.widget_calendar .calendar_wrap td#today a {
	color: var(--color-theme-white);
}

.widget_calendar .calendar_wrap table th {
	background: var(--color-theme-white);
	color: var(--color-theme-secondary);
}

.wp-block-calendar table th {
	background: transparent;
	color: var(--color-theme-primary);
	font-weight: bold;
}

.widget_calendar .calendar_wrap table th,
.widget_calendar .calendar_wrap table td {
	padding: 0.5em;
	text-align: center;
}

.wp-block-calendar tbody td,
.wp-block-calendar th {
	border-color: var(--border-color-light);
	color: var(--global-font-color);
}

.widget_calendar table#wp-calendar {
	margin-bottom: 0.625em;
}

.wp-calendar-nav {
	justify-content: space-between;
	display: flex;
	text-transform: uppercase;
}

.widget_calendar table#wp-calendar {
	margin-bottom: 0.625em;
}

/*---------------  Categories side widget  ------------------------*/
.widget_categories ul li span.archiveCount,
.widget.widget_archive ul li span.achiveCount,
.widget.widget_block .wp-block-categories-list .archiveCount {
	line-height: var(--font-line-height-body);
	float: right;
}

.widget.widget_archive ul li span.archiveCount,
ul.wp-block-archives-list li span.archiveCount {
	float: right;
}

.download-item li {
	display: block;
	background: var(--global-white-light-color);
	padding-bottom: 0 !important;
}

.download-item li i {
	background: var(--color-theme-primary);
	padding: 1em;
	color: var(--color-theme-white);
	font-size: 1.5em;
}

.widget.get-file {
	margin-bottom: 1em;
	padding: 0;
	background: transparent;
}

.widget.get-file a:hover {
	color: var(--color-theme-primary);
}

.widget.get-file a {
	text-decoration: none;
}

/*-----------    Blog - SideBar  -------------------------*/
.hopeui_style-widget-menu ul.hopeui_style-post li {
	border: none;
}

.hopeui_style-post-sidebar {
	height: 100%;
}

.testimonail-widget-menu.widget {
	padding: 0;
	background: transparent;
}

/* SideBar Archives Dropdown */
.widget select,
.widget.widget_archive select,
.widget_categories select {
	border: 0.063em solid var(--border-color-light);
	border-radius: var(--border-radius);
	font-size: var(--font-size-body);
	line-height: var(--font-line-height-body);
}

/* Meta Sidebar - widget RSS*/
.widget.widget_rss ul li {
	margin-bottom: 1.25em;
}

.widget.widget_rss ul li:last-child {
	margin-bottom: 0;
}

.widget.widget_rss ul li a {
	padding-left: 0;
	font-size: 1.125em;
	color: var(--global-font-title);
	font-weight: 600;
}

.widget.widget_rss ul li a:hover {
	color: var(--color-theme-primary);
}

.widget.widget_rss ul li a::before {
	display: none;
}

.widget.widget_rss ul li .rss-date {
	text-transform: uppercase;
	display: inline-block;
	width: 100%;
	margin: 0.313em 0;
	color: var(--color-theme-primary);
	font-size: 0.875em;
}

.widget.widget_rss ul li cite {
	margin-top: 0.313em;
	display: inline-block;
	width: 100%;
}

/*widget Nav Menu*/
.widget.widget_nav_menu ul li,
.widget ul.menu li {
	margin-bottom: 0;
}

.widget.widget_nav_menu ul li .sub-menu,
.widget ul.menu li .sub-menu {
	display: block !important;
	padding-left: .8em;
}

.widget.widget_nav_menu ul li a,
.widget ul.menu li a {
	padding: 0.625em 0 0.625em 1em;
	display: inline-block;
	width: 100%;
}

.widget.widget_nav_menu ul li i,
.widget ul.menu li i {
	display: none;
}


.widget.widget_nav_menu #menu-service-menu li.current-menu-item a {
	background: var(--color-theme-primary);
	color: var(--color-theme-white);
}

.hopeui_style-widget-menu .hopeui_style-post li a.date-widget {
	color: var(--color-theme-primary);
	margin-bottom: 0.625em;
	display: block;
	font-size: 0.75em;
	font-weight: 700;
}

.hopeui_style-widget-menu .post-img .post-blog a.new-link h6 {
	color: var(--color-theme-white);
	line-height: 1.438em;
	display: block;
	overflow: hidden;
}

/* SideBar - widget Recent Entries*/
.widget_recent_entries ul li .post-date {
	color: var(--color-theme-secondary);
	float: right;
}

/*SideBar - Tags*/
.widget_tag_cloud ul {
	margin: 0;
	padding: 0;
}

.widget_tag_cloud ul li {
	padding: 0;
	display: inline-block;
	margin: 0.188em 0.313em 0.188em 0;
}

.widget.widget_block .wp-block-tag-cloud a,
.widget_tag_cloud ul li a,
.hopeui_style-blog-box .hopeui_style-blogtag li a  {
	display: block;
	color: var(--global-font-color);
	text-decoration: underline !important;
	text-transform: capitalize;
	font-size: var(--font-size-body) !important;
}
.widget.widget_block .wp-block-tag-cloud a,
.widget_tag_cloud ul li a{
	padding: 0 0.438em;
}

.widget.widget_block .wp-block-tag-cloud a:hover, 
.widget_tag_cloud ul li a.tag-cloud-link:hover {
	color: var(--color-theme-primary);
	text-decoration: underline;
}

.widget_tag_cloud ul li a::before {
	display: none;
}

.wp-block-latest-comments__comment {
	display: inline-block;
	padding-bottom: 1.25em;
	list-style: none;
	margin-bottom: 1.25em;
	border-bottom: 0.063em solid rgba(82, 95, 129, .2);
}

.wp-block-latest-comments__comment:last-child {
	border: none;
	padding-bottom: 0;
	margin-bottom: 0;
}

ol.wp-block-latest-comments {
	margin-bottom: 0;
}

@media(max-width: 29.938em) {
	.widget.widget_nav_menu ul li .sub-menu, .widget ul.menu li .sub-menu {
		padding-left: 0.625em;
	}
	.widget_calendar .calendar_wrap table td, 
	.widget_calendar .calendar_wrap table th {
		padding: 0.313em;
		font-size: var(--font-size-normal);
	}
}