.home {
  display: block;
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
  background-color: #f3f4f0;
}
button {
  font-family: "Montserrat", sans-serif;
}
/*******************************************
*       Remove WordPress Template          *
*******************************************/
.hopeui_style-breadcrumb {
  display: none !important;
}

.container-fluid {
  display: none !important;
}

.hopeui_style-footer {
  display: none !important;
}
#header {
  display: none !important;
}
#footer {
  display: none !important;
}
header {
  display: none !important;
}
footer {
  display: none !important;
}
.ast-container {
  padding: 0;
  margin: 0;
  max-width: none;
}
/*******************************************
*                 Overview                 *
*******************************************/
.overview {
  position: relative;
  height: fit-content;
  width: 100%;
}
/* .overview-wrapper {
  position: absolute;
  width: 100%;
  height: fit-content;
} */

.bg-image img {
  /* position: relative; */
  z-index: 0;
  /* Add the blur effect */

  position: absolute;
  /* Full height */
  width: 100%;
  height: 100%;
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.navbar {
  top: 0;
  height: fit-content;
  width: 100%;
  z-index: 1;
  display: flex;
  white-space: nowrap;
  padding: 10px;
  align-items: center;
}

.navbar .logo {
  width: fit-content;
  height: fit-content;
  margin-left: 10px;
  z-index: 0;
}

.logo img {
  width: 6vw;
}

.navigate-wrapper,
.navigate-wrapper a {
  width: fit-content;
  height: fit-content;
  margin-right: 15px;
  margin-left: 15px;
}

.navigate-wrapper {
  position: absolute;
  right: 0;
  display: flex;
  white-space: nowrap;
}

.navigate-wrapper a {
  color: rgba(255, 255, 255, 0.62);
  text-decoration: none;
}

.navigate-link.active a {
  color: #ffffff;
  text-decoration: none;
}
.navigate-link:hover {
  transition: all 0.3s ease;
  transform: scale(1.2);
}
.navigate-link a:hover {
  color: #ffffff;
}

.overview-title {
  color: #ffffff;
  display: flex;
  justify-content: center;
  text-align: center;
  font-size: 45px;
  font-weight: 700;
  margin: 90px 0px 20px 0px;
  position: relative;
  z-index: 0;
}

.overview-content {
  position: relative;
  z-index: 0;
  color: #ffffff;
  display: flex;
  justify-content: center;
  text-align: center;
  font-size: 25px;
  font-weight: 400;
  margin: 0px 0px 50px 0px;
}
.overview-img .img-horizontal {
  width: 350px;
  border-radius: 15px;
}

.overview-img .img-vertical {
  width: 233px;

  border-radius: 15px;
}
.overview-img .img-square {
  width: 233px;
  border-radius: 15px;
  background-size: contain;
}

.overview-img {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  width: 100% !important;
  margin: 30px 0px 0px 0px;
  padding-bottom: 30px;
  position: relative;
  z-index: 0;
}

.overview-img img {
  width: calc(100% / 5 - 20px);
  margin: 0 20px;
}

/*******************************************
*                 Industry                 *
*******************************************/

.industry {
  position: relative;
  height: fit-content;
  width: 100%;
}

.industry .grid-container {
  display: grid;
  grid-template-columns: 50% 50%;
}
.industry .grid-content {
  align-items: center;
  display: flex;
}
.industry-content {
  width: 370px;
  margin: 80px 0px 0px 20%;
}

.industry-title {
  font-size: 24px;
  font-weight: 600;
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.break-line {
  height: 2px;
  width: 75%;
  border-width: 0;
  color: black;
  background-color: black;
  margin-left: 0;
}
.industry-paragraph {
  font-weight: 300;
  line-height: 135%;
  margin-bottom: 80px;
  font-size: 20px;
}
.card-wrapper {
  display: grid;
  align-items: center;
  grid-template-columns: 50% 50%;
  justify-self: center;
  width: fit-content;
  margin-top: 80px;
}
.card-title {
  text-align: center;
  font-weight: 600;
  margin-top: 20px;
  margin-bottom: 20px;
}
.card {
  background-color: #ffffff;
  /* border-width: 1px;
  border-style: solid;
  border-color: black; */
  border-radius: 10px;
  text-align: center;
  margin: 15px;
  max-width: 300px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.card-image img {
  border-radius: 10px;
  width: 80%;
  height: 80%;
  object-fit: cover;
  margin-bottom: 10px;
}
.card-button img {
  width: 30px;
  margin-bottom: 10px;
}

/* === Animation === */

.industry-content {
  animation: fadeInUp 1s ease-in-out;
  animation-fill-mode: forwards; /* Keep final state after animation */
  opacity: 0; /* Initial hidden state */
  transform: translateY(40px); /* Initial transform for animation */
  animation-play-state: paused; /* Prevent initial animation */
}
.industry-content.is-animated {
  animation-play-state: running; /* Start the animation */
}
.grid-image {
  animation: fadeInUp 1s ease-in-out;
  animation-fill-mode: forwards; /* Keep final state after animation */
  opacity: 0; /* Initial hidden state */
  transform: translateY(40px); /* Initial transform for animation */
  animation-play-state: paused; /* Prevent initial animation */
}
.grid-image.is-animated {
  animation-play-state: running; /* Start the animation */
}

/*******************************************
*                 Strategy                 *
*******************************************/
.strategy {
  position: relative;
  height: fit-content;
  width: 100%;
  /* white-space: nowrap; */
  background-color: #212121;
}

.strategy-wrapper {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.strategy-card {
  background-color: #ffffff;
  width: 250px;
  height: 395;
  box-shadow: 0 4px 8px 0 rgba(255, 255, 255, 0.2),
    0 6px 20px 0 rgba(255, 255, 255, 0.19);
  border-radius: 10px;
  margin: 40px 60px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: flex-start;
  align-content: flex-start;
}

.strategy-icon img {
  width: 180px;
  max-height: 180px;
}
.strategy-icon {
  text-align: center;
  margin: 10px 35px 10px 35px;
  width: 180px;
  max-height: 180px;
}
.strategy-title {
  text-align: center;
  font-size: 30px;
  font-weight: 600;
  width: fit-content;
  margin-bottom: 12px;
  height: fit-content;
}

.strategy-content {
  text-align: justify;
  width: 180px;
  justify-content: center;
  margin-bottom: 15px;
  line-height: 20px;
}

.strategy-content ul {
  margin: 0;
  padding-left: 20px;
  text-align: left;
  line-height: 23px;
}

@keyframes fadeInRight {
  from {
    opacity: 0;
    transform: translateX(-40px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
.strategy-card {
  animation: fadeInRight 1.5s ease-in-out;
  animation-fill-mode: forwards; /* Keep final state after animation */
  opacity: 0; /* Initial hidden state */
  transform: translateX(-40px); /* Initial transform for animation */
  animation-play-state: paused; /* Prevent initial animation */
}
.strategy-card.is-animated {
  animation-play-state: running; /* Start the animation */
}

/*******************************************
*               Achievement                *
*******************************************/

.achievement-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 200px 0px;
}
.achievement-title {
  max-width: 456px;
}
.achievement-title .title-1 {
  font-weight: 700;
}

.achievement-title .title-2 {
  font-size: 40px;
  font-weight: 700;
}

.achivement-customer .number,
.achivement-project .number,
.achivement-product .number {
  font-size: 60px;
  font-weight: 700;
  color: #62615c;
  text-align: center;
}

.achivement-customer,
.achivement-project,
.achivement-product {
  margin: 0px 25px;
}

.achievements-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

@property --num {
  syntax: "<integer>";
  initial-value: 0;
  inherits: false;
}

.achivement-customer .number {
  transition: --num 3s;
  counter-reset: num var(--num);
  animation-fill-mode: forwards; /* Keep final state after animation */
}

.achivement-customer .number::after {
  content: counter(num);
}
.achivement-customer .number.is-animated {
  --num: 50;
}

.achivement-project .number {
  transition: --num 3s;
  counter-reset: num var(--num);
  animation-fill-mode: forwards; /* Keep final state after animation */
}

.achivement-project .number::after {
  content: counter(num);
}
.achivement-project .number.is-animated {
  --num: 100;
}

.achivement-product .number {
  transition: --num 3s;
  counter-reset: num var(--num);
  animation-fill-mode: forwards; /* Keep final state after animation */
}

.achivement-product .number::after {
  content: counter(num);
}
.achivement-product .number.is-animated {
  --num: 250;
}

/*******************************************
*                 Customer                 *
*******************************************/
.customer-title {
  font-size: 30px;
  text-align: center;
  font-weight: 700;
}
.customer-logo img {
  max-height: 300px;
  max-width: 200px;
  margin: 50px;
}
.customer-logo .line-break {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.contact {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.customer-contact-title {
  text-align: center;
  line-height: 30px;
  font-size: 18px;
  font-weight: 700;
  margin: 30px;
}

.contact-button button {
  border: 0;
  border-radius: 20px;
  font-weight: 500;
  padding: 10px 20px;
  background-color: #111111;
  color: #ffffff;
}

.contact-button button:hover {
  background-color: #363537;
}

/*******************************************
*                  Footer                  *
*******************************************/

.footer-custom {
  background-color: #111111;
  color: #ffffff;
  height: fit-content;
}
.grid-container {
  display: grid;
  grid-template-columns: 30% 70%;
}
.grid-item-5 {
  grid-column-start: 1;
  grid-column-end: 3;
}
.grid-item-2-7 {
  grid-column-start: 1;
  grid-column-end: 4;
}
.grid-container-4 {
  display: grid;
  grid-template-columns: auto auto auto;
}

.grid-item-1 {
  width: fit-content;
}

.grid-item-1 .logo {
  width: fit-content;
  margin: 15px 0px 0px 30px;
}
.grid-item-1 .lang {
  margin: 30px 0px 0px 70px;
}
.lang .vn a,
.lang .en a {
  text-decoration: none;
  color: white;
}

.lang .vn img,
.lang .en img {
  width: 25px;
  object-fit: contain;
  margin-right: 5px;
}
.lang .vn a,
.lang .en a {
  display: flex;
}

.lang .vn a p,
.lang .en a p {
  display: flex;
  margin: 0;
  align-items: center;
}

.grid-container-2 {
  display: grid;
  grid-template-columns: auto auto auto;
  margin-right: 30px;
}
.grid-item-2 {
  margin-top: 15px;
}
.contact-title {
  font-weight: 600;
}
.contact-label {
  font-size: 12px;
  font-weight: 600;
}
.grid-item-2-1,
.grid-item-2-2,
.grid-item-2-3,
.grid-item-2-4,
.grid-item-2-5,
.grid-item-2-6,
.grid-item-2-7 {
  padding-right: 25px;
  margin-top: 15px;
}

.grid-container-2 input {
  background-color: transparent;
  border-color: #999999;
  width: 100%;
  border-width: 2px;
  border-style: solid;
  border-radius: 5px;
  font-size: 15px;
  color: #ffffff;
  font-family: "Montserrat", sans-serif;
  padding: 5px;
}

.grid-container-2 input:-webkit-autofill,
input:-webkit-autofill:focus {
  transition: background-color 0s 600000s, color 0s 600000s !important;
}

.grid-item-2-7 {
  right: 0;
  width: 150px;
  display: inline;
  right: 0;
  padding-bottom: 20px;
}
.grid-item-2-7 input {
  border: 0;
  border-radius: 20px;
  font-size: 15px;
  font-weight: 500;
  padding: 10px;
  padding-left: 15px;
  padding-right: 15px;
  background-color: #fff;
  color: #000000;
  font-size: 15px;
  font-weight: 500;
}
.grid-item-2-7 input:hover {
  color: #ffffff;
  background-color: #000000;
}
.grid-item-3 {
  margin-top: 20px;
  margin-left: 40px;
}
.info-title {
  font-weight: 500;
}
.info-content {
  font-size: 12px;
  font-weight: 400;
  opacity: 70%;
  line-height: 1.4;
}

.grid-4-header {
  font-weight: 600;
}
.grid-4-list {
  opacity: 70%;
}
.grid-4-list a {
  text-decoration: none;
  color: #ffffff;
  font-size: 12px;
}
.grid-container-4 {
  display: grid;
  grid-template-columns: auto auto auto;
}
.grid-item-4 {
  margin: 20px 0px 0px 80px;
}
.grid-item-5 {
  position: relative;
  display: flex;
  margin: 25px 25px 20px 25px;
}
.copyright {
  font-size: 12px;
  opacity: 70%;
  width: fit-content;
}
.powered {
  position: absolute;
  right: 0;
  font-size: 12px;
  opacity: 70%;
  width: fit-content;
}

@media only screen and (min-width: 600px) {
  .contact-title {
    font-size: 1.4vw;
  }
  .contact-label {
    font-size: 1vw;
  }
  .lang {
    font-size: 1vw;
  }
  .info-title {
    font-size: 1.5vw;
  }
  .info-content {
    font-size: 0.85vw;
  }
  .grid-4-header {
    font-size: 1.1vw;
  }
  .grid-4-list {
    font-size: 1.2vw;
  }
  .grid-4-list a {
    font-size: 1vw;
    margin: 0;
  }
  .copyright,
  .powered {
    font-size: 1.1vw;
  }
}

/*******************************************
*                Responsive                *
*******************************************/
@media only screen and (max-width: 600px) {
  .home {
    overflow: hidden;
  }
  .navigate-wrapper {
    font-size: 2.5vw;
    flex-wrap: wrap;
    justify-content: right;
  }
  .navigate-link a {
    margin: 2vw;
  }
  .overview-title {
    font-size: 9vw;
    margin-top: 10vw !important;
    margin-bottom: 5vw !important;
  }
  .overview-content {
    font-size: 5vw;
    margin: 0px 8vw;
  }
  .img-square {
    width: 20vw !important;
    margin: 0vw 2vw !important;
  }
  .img-horizontal {
    width: 30vw !important;
    margin: 0vw 2vw !important;
  }
  .img-vertical {
    width: 20vw !important;
    margin: 0vw 2vw !important;
  }
  .overview-img {
    margin-top: 7vw;
    padding-bottom: 7vw;
  }
  .industry-wrapper .grid-container {
    display: flex;
    flex-wrap: wrap;
  }
  .industry-content {
    margin: 5vw 2vw;
  }
  .grid-container {
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
  }
  .industry-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .industry-title {
    width: 70%;
    padding: 4vw;
    text-align: center;
    font-size: 7vw;
  }
  .industry-paragraph {
    display: flex;
    flex-wrap: wrap;
    font-size: 4.5vw;
    width: 70% !important;
    padding: 4vw;
    margin-bottom: 0;
  }
  .break-line {
    display: flex;
    justify-content: center;
    width: 100%;
  }
  .card-wrapper {
    display: flex;
    flex-wrap: wrap;
    margin-top: 0;
    margin-bottom: 5vw;
    justify-content: space-around;
  }
  .achievement-title {
    text-align: center;
  }
  .achievement-wrapper {
    padding: 10vw 3vw;
  }
  .contact-button {
    margin-bottom: 5vw;
  }

  .navbar .logo {
    margin: 0;
    display: flex;
    justify-content: center;
  }
  .navbar .logo img {
    width: 12vw;
  }
  /*Footer*/
  .footer-custom {
    height: fit-content;
    overflow: scroll;
  }
  .footer-wrapper {
    display: flex;
  }
  .grid-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    overflow: hidden;
  }
  .grid-item-1 .lang,
  .grid-item-1 .logo {
    margin: 5px 0px;
  }
  .grid-item-1 .logo {
    width: 100%;
    text-align: center;
  }
  .grid-item-1 .logo img {
    width: 15vw;
  }
  .grid-item-1 .lang .vn a,
  .grid-item-1 .lang .en a {
    justify-content: center;
  }
  .grid-container-2 {
    margin: 0px 5px;
  }
  .grid-container-2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .grid-item-2 .contact-title {
    text-align: center;
  }
  .grid-item-3 {
    text-align: center;
  }
  .grid-item-2-1,
  .grid-item-2-2,
  .grid-item-2-3,
  .grid-item-2-4,
  .grid-item-2-5,
  .grid-item-2-6 {
    padding: 0 10vw;
    width: 100%;
  }
  .grid-item-2-7 {
    padding: 0 20vw;
    margin-bottom: 7vw;
    width: 100%;
  }
  .contact-title {
    margin: 5px;
  }
  .grid-item-3 {
    margin: 0;
  }
  .grid-item-4 {
    margin: 5px 0px;
  }
  .grid-container-4 {
    display: inline;
    flex-wrap: wrap;
    text-align: center;
  }
  .grid-item-4-1,
  .grid-item-4-4,
  .grid-item-4-3 {
    margin: 10px 0px;
  }
  .grid-item-5 {
    display: inline;
    text-align: center;
  }
  .grid-item-5 .copyright {
    width: 100%;
  }

  .grid-item-5 .powered {
    width: 100%;
    padding-bottom: 10px;
  }
  .contact-label {
    text-align: left;
  }
}
